@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="form-group">
    <div class="if flex-column gap-8">
        <label class="if label is-required" for="date">Choose date</label>
        <input class="if input-field"
               name="date"
               id="date"
               type="date">
        </input>
    </div>
</div>