@{
    ViewData["Title"] = "Travel Tutor";
}
<div class="if block">
    <div class="if container">
        <h2 class="if heading large center">Ready for your adventure?</h2>

        Share your trip details, and we'll provide you with a short video with essential safety tips. Watch it to unlock a 10% discount on your travel insurance!
    </div>
</div>