@model TravelTutor.Models.UserInputViewModel
@{
    ViewData["Title"] = "Travel Tutor";
}
<div class="if container tutor">
    <div class="if content row">
        <div class="col-md-7">
            <h2 class="if heading">Ready for your adventure?</h2>

            <span>Share your trip details, and we'll create a quick video with essential safety tips. Watch it, complete a quiz, and unlock a <b>10% discount</b> on your travel insurance!</span>

            <form asp-action="PostData" method="post">
                <div class="row if mt-24">
                    <div class="col-md-12">
                        

                        <div class="if flex-column gap-8">
                            <label  class="if label is-required" for="destination">Travel destination</label>
          
                            @Html.DropDownListFor(
                                     model => model.Destination,
                                     new SelectList(Model.AllDestinations),
                                     htmlAttributes: new { @class = "if dropdown-select", id = "destination", name = "default-state" }
                                     )
                        </div>
                    </div>
                </div>

                <div class="row if mt-24">
                    <div class="col-md-6">
                        <div class="if flex-column gap-8">
                            <label class="if label is-required" for="date">Start date</label>
                            <input asp-for="StartDate"
                                   class="custom-date"
                                   name="startdate"
                                   id="startdate"
                                   type="date" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="if flex-column gap-8">
                            <label class="if label is-required" for="date">End date</label>
                            <input asp-for="EndDate"
                                   class="custom-date"
                                   name="enddate"
                                   id="enddate"
                                   type="date" />
                        </div>
                    </div>
                </div>

                <div class="row if mt-48">
                    <div class="col-md-12">
                        <div class="if flex-center justify-content-space-between border-top-solid border-width-1 p-16 border-color-disabled">
                            <label class="if typography ui large weight-bold"
                                   id="label-text-1"
                                   for="adults">
                                <span>Adults</span>
                                <span class="if typography ui large disabled">18+ years</span>
                            </label>
                            <div class="if numeric-stepper-container">
                                <button id="decrement-button"
                                        class="if icon-button filled emphasized x-small"
                                        aria-label="Decrement by one"
                                        type="button">
                                    <ids-icon aria-hidden="true" ui-16 minus></ids-icon>
                                </button>
                                <input asp-for="AdultsCount"
                                       id="adults"
                                       type="number"
                                       value="1"
                                       min="1"
                                       max="9"
                                       step="1"
                                       class="if numeric-stepper-input-field" />
                                <button id="increment-button"
                                        class="if icon-button filled emphasized x-small"
                                        aria-label="Increment by one"
                                        type="button">
                                    <ids-icon aria-hidden="true" ui-16 plus></ids-icon>
                                </button>
                                <span id="live-message-container"
                                      aria-live="polite"
                                      class="if sr-only"></span>
                            </div>
                        </div>
                        <div class="if flex-center justify-content-space-between border-top-solid border-width-1 p-16 border-color-disabled">
                            <label id="label-children"
                                   class="if typography ui large weight-bold"
                                   for="children">
                                Children
                                <span class="if typography ui large disabled">&lt; 18 years</span>
                            </label>
                            <div class="if numeric-stepper-container">
                                <button id="decrement-button"
                                        class="if icon-button filled emphasized x-small"
                                        aria-label="Decrement by one"
                                        type="button">
                                    <ids-icon aria-hidden="true" ui-16 minus></ids-icon>
                                </button>
                                <input asp-for="ChildrenCount"
                                       id="children"
                                       type="number"
                                       value="0"
                                       min="0"
                                       max="9"
                                       step="1"
                                       class="if numeric-stepper-input-field" />
                                <button id="increment-button"
                                        class="if icon-button filled emphasized x-small"
                                        aria-label="Increment by one"
                                        type="button">
                                    <ids-icon aria-hidden="true" ui-16 plus></ids-icon>
                                </button>
                                <span id="live-message-container"
                                      aria-live="polite"
                                      class="if sr-only"></span>
                            </div>
                        </div>
                        <div class="if flex-center justify-content-space-between border-top-solid border-width-1 p-16 border-color-disabled">
                            <label id="label-text-3"
                                   class="if typography ui large weight-bold"
                                   for="infants">
                                Infants
                                <span class="if typography ui large disabled">&lt; 1 year</span>
                            </label>
                            <div class="if numeric-stepper-container">
                                <button id="decrement-button"
                                        class="if icon-button filled emphasized x-small"
                                        aria-label="Decrement by one"
                                        type="button">
                                    <ids-icon aria-hidden="true" ui-16 minus></ids-icon>
                                </button>
                                <input asp-for="InfantCount"
                                       id="infants"
                                       type="number"
                                       value="0"
                                       min="0"
                                       max="9"
                                       step="1"
                                       class="if numeric-stepper-input-field" />
                                <button id="increment-button"
                                        class="if icon-button filled emphasized x-small"
                                        aria-label="Increment by one"
                                        aria-labelledby="numeric-stepper-3 label-text-3 increment-button"
                                        type="button">
                                    <ids-icon aria-hidden="true" ui-16 plus></ids-icon>
                                </button>
                                <span id="live-message-container"
                                      aria-live="polite"
                                      class="if sr-only"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row if mt-48">
                    <div class="col-md-12">
                        <fieldset class="if border-none">
                            <legend class="if typography ui medium">Travel purpose</legend>
                            <div class="if flex-column gap-24 mt-24">
                                <div class="if radio-button">
                                    <input class="if radio-button-input" type="radio" id="car" name="purpose" checked />
                                    <label class="if typography ui medium" for="tourism">Tourism</label>
                                </div>
                                <div class="if radio-button">
                                    <input class="if radio-button-input" type="radio" id="work" name="purpose" />
                                    <label class="if typography ui medium" for="pet">Work</label>
                                </div>
                                <div class="if radio-button">
                                    <input class="if radio-button-input" type="radio" id="Education" name="purpose" />
                                    <label class="if typography ui medium" for="education">Education</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row if mt-48">
                    <div class="col-md-12">
                        <div class="if flex-column gap-8">
                            <label class="if label is-required" for="activities">Activities planned during the trip</label>
                            <input asp-for="Activities"
                                   class="if input-field"
                                   name="activities"
                                   id="activities"
                                   type="text"
                                   placeholder="e.g. skiing, swimming" />
                        </div>
                    </div>
                </div>

                <div class="row if mt-32 mb-64">
                    <div class="col-md-12">
                        <button type="submit" class="if button filled">Continue</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-5">
            <div class="if image travel-bag">
            </div>
        </div>

    </div>

</div>