@{
    ViewData["Title"] = "Travel Tutor";
}

<div class="text-center">
    <h1 class="display-4">Input your travel data</h1>
    <p>Input your travel information so we can provide you with the tutoring materials.</p>
</div>