@{
    ViewData["Title"] = "Travel Tutor";
}

<div class="text-center">
    <h1 class="display-4">Watch</h1>
    <p>Video tutoring you about the risks and precautions you need to take during your travel</p>
</div>