<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TravelTutor</title>
    <link rel="stylesheet" href="~/css/ifdesignsystem.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TravelTutor.styles.css" asp-append-version="true"/>
    <link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
</head>
<body>
    <div class="if app">
        <header class="if global-header has-hero ">
            <nav class="if primary">
                <div class="if desktop container">
                    <ul class="if desktop-menu-list">
                        <li class="if desktop-menu-item">
                            <a href="" class="if desktop-menu-action button is-active">Private</a>
                        </li>
                        <li class="if desktop-menu-item">
                            <a href="" class="if desktop-menu-action button desktop-menu-action">Business</a>
                        </li>
                        <li class="if desktop-menu-item">
                            <a href="" class="if desktop-menu-action button desktop-menu-action">Large Enterprises</a>
                        </li>

                        <li class="if desktop-menu-item login-holder single ">
                            <a class="if desktop-menu-action button login" href="https://mans.if.lv/policies?language=lv">Mans If</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <nav class="if secondary">
                <div class="if desktop container" id="header-nav-bar">
                    <ul class="if desktop-menu-list">
                        <li class="if desktop-menu-item logo-holder">
                            <a href="/privatpersonam" class="if desktop-menu-action"><span class="if logo small" style="background-image:url(&quot;data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 113.4 111.6'%3E%3Cpath d='M113.4 55.8c0 30.8-25.4 55.8-56.7 55.8-31.3 0-56.7-25-56.7-55.8C0 25 25.4 0 56.7 0c31.3 0 56.7 25 56.7 55.8z' fill='%230054f0'/%3E%3Cg fill='%23fff'%3E%3Cpath d='M49.4 40.7c-.1.3.1.6.4.6l4.8-.1s-6.5 26-7.8 31.3c-1.6 6.6-4.3 13.3-6.2 15.7-1.7 2.1-2.8 2.8-4 2.8-1.6 0-2.4-1.2-2.9-3.1-.3-1.4-1.2-3.3-3.2-3.3-2.1 0-4.9 2.3-4.9 5.2 0 3.8 6.4 4.7 8.5 4.7 4.2 0 9.7-2.7 13.3-6.9 4.7-5.3 7.3-11.9 9.7-21.2L63 41.1l6.2.1c.5 0 .7-.4.8-.6l.8-2.3c.1-.3-.1-.6-.4-.6H64c1.5-5.4 3.8-13.3 8.2-17.6.4-.4 1.5-1.3 2.5-1.3 1.7 0 2.2 1 3 2.6.7 1.6.6 4.3 3 4.3 2.8 0 4.9-3.1 4.9-5.2 0-2.9-5-4.8-9.1-4.8-4.7 0-9.3 2-12.6 5.3-4.7 4.8-6.9 11.9-8.4 16.8l-4.8-.1c-.3 0-.6.3-.7.5zm24.9 26.4c-.1 1.3-.8 4.8-4.7 4.8-2.3 0-4-1.5-3.8-4.2.1-2.7 2-4.9 4.7-5 1.8.1 4 1.3 3.8 4.4zm13.9 0c-.1 1.3-.8 4.8-4.7 4.8-2.3 0-4-1.5-3.8-4.2.1-2.7 2-4.9 4.7-5 1.7.1 3.9 1.3 3.8 4.4zm13.8 0c-.1 1.3-.8 4.8-4.7 4.8-2.3 0-4-1.5-3.8-4.2.1-2.7 2-4.9 4.7-5 1.8.1 3.9 1.3 3.8 4.4zM42.5 20.3c-2.9.1-4.9 2.4-5.1 5.3-.2 2.8 1.5 4.4 4 4.4 4.2 0 5.1-3.8 5.1-5.2.2-3.2-2-4.5-4-4.5z'/%3E%3Cpath d='M35.6 57.4L40 46.7c.9-2.1 2-4.9 2-6.8 0-2.4-1.8-3-3.1-3-6 0-12.4 7-14.8 9.8-.2.2-.3.6.1.9l1.1 1.1c.2.2.6.2.8-.1 0 0 2.9-3.2 4-4 .3-.2.7-.5 1-.5.4 0 .6.6.6.9 0 1-1 3.4-1.5 4.6l-4.6 11.7c-1.6 3.9-2.4 6-2.4 7.7 0 2 1.1 3.6 3.9 3.6 6.4 0 14.4-9.6 14.4-9.6.3-.4.2-.7 0-.9L40.3 61c-.2-.2-.6-.3-.9 0 0 0-4.3 4.8-5.8 4.8-.7 0-.6-.8-.6-.9 0-.7.4-2 .7-2.6z'/%3E%3C/g%3E%3C/svg%3E&quot;)"><span class="if axe sr-only">Uz sākumu</span></span></a>
                        </li>
                        <li class="if desktop-menu-item is-parent">
                            <button type="button" id="js-toggle-insurances" class="if desktop-menu-action">Insurances</button>
                        </li>
                        <li class="if desktop-menu-item is-parent">
                            <button type="button" id="js-toggle-insurances" class="if desktop-menu-action">Incident or damage</button>
                        </li>
                    </ul>
                    <ul class="if global-menu-list global">
                        <li class="if global-menu-item">
                            <button class="if global-menu-action search" aria-expanded="false" aria-controls="header-search-bar" id="header-open-search-button">Meklēt</button>
                        </li>
                    </ul>
                </div>

            </nav>
        </header>


        <main class="if main" id="main">
            @RenderBody()
        </main>

        <div class="if block dark">
            <div class="if container">
                <ul class="if cards navigational lifestyle three teasers" role="presentation">
                    <li class="if navigational-card lifestyle" id="d92d7fd5ce1c4cda95af3e668df2718f">
                        <span class="if image">
                            <img class="if image lifestyle responsively-lazy" alt="" src="https://v.imgi.no/auds322vry-SQUARE/400" data-srcset="https://v.imgi.no/auds322vry-SQUARE/400 400w, https://v.imgi.no/auds322vry-SQUARE/560 560w">
                        </span>
                        <span class="if title">
                            Kā sagatavoties vētrai: 8 būtiski padomi un drošības pasākumi
                            <span class="if inline-nowrap">﻿<span class="if icon ui arrow-right"></span></span>
                        </span>

                        <div class="if text"><p>Kā rīkoties, ja tuvojas vētra? Kā pasargāt sevi, savu mājokli un auto? Uzzini vairāk jau tagad!</p></div>

                        <a href="/privatpersonam/apdrosinasana/majokla-apdrosinasana/padomi-ka-sagatavoties-vetrai" alt="Lasīt vairāk" title="Lasīt vairāk" target="" class="if standalone">
                            Lasīt vairāk
                        </a>
                    </li>


                    <li class="if navigational-card lifestyle" id="cd25d93ca0c041d0b818445b2da64148">
                        <span class="if image">



                            <img class="if image lifestyle responsively-lazy" alt="" src="https://v.imgi.no/s5l77jxf6f-SQUARE/400" data-srcset="https://v.imgi.no/s5l77jxf6f-SQUARE/400 400w, https://v.imgi.no/s5l77jxf6f-SQUARE/560 560w">
                        </span>
                        <span class="if title">
                            Izmaiņas Bonus Malus sistēmā - kas Tev būtu jāzina?
                            <span class="if inline-nowrap">﻿<span class="if icon ui arrow-right"></span></span>
                        </span>

                        <div class="if text"><p>No 1. augusta pārtrauks darboties līdz šim ierastā Bonus Malus (BM) sistēma. Uzzini, vai izmaiņas ietekmēs Tavu OCTA apdrošināšanu!</p></div>


                        <a href="/privatpersonam/apdrosinasana/octa/izmainas-bonus-malas-sistema" alt="Lasīt vairāk" title="Lasīt vairāk" target="" class="if standalone">
                            Lasīt vairāk
                        </a>
                    </li>



                    <li class="if navigational-card lifestyle" id="bc80f5487db545e283dc3012870f6734">
                        <span class="if image">



                            <img class="if image lifestyle responsively-lazy" alt="" src="https://v.imgi.no/e74cyq7cc4-SQUARE/400" data-srcset="https://v.imgi.no/e74cyq7cc4-SQUARE/400 400w, https://v.imgi.no/e74cyq7cc4-SQUARE/560 560w">
                        </span>
                        <span class="if title">
                            Vai Tev jau ir If Mobile Baltics?
                            <span class="if inline-nowrap">﻿<span class="if icon ui arrow-right"></span></span>
                        </span>

                        <div class="if text"><p>Pārskati visas polises, iegādājies jaunas un piesaki atlīdzības vienuviet – If Mobile Baltics aplikācijā.</p></div>


                        <a href="/if-mobile" alt="Lasīt vairāk" title="Lasīt vairāk" target="" class="if standalone">
                            Lasīt vairāk
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>