@{
    ViewData["Title"] = "Travel Tutor";
}

<div class="text-center">
    <h1 class="display-4">Test</h1>
    <p>Answer our questions correctly to get your discount for travel insurance</p>
</div>